.review {
    width: 100%;
    display: flex;
}

.review__product {
    width: 80%;
    padding: 2% 2% 2% 10%;
    border-right: 1px solid lightgrey;
}

.review__cart {
    padding: 10px;
}

.singleProduct {
    border-bottom: 1px solid lightgrey;
    padding: 2% 0;
    display: flex;
}