.product {
    display: flex;
    border-bottom: 1px solid lightgray;
}

.product div {
    padding: 2rem;
    color: blue;
    font-size: 1.05rem;
    font-weight: 500;
}

.product div p small,
.product div p:last-child {
    color: black;
    padding: 1rem 0;
    display: inline-block;
}

.button {
    margin-top: 1rem;
    padding: .35rem .65rem;
    background-color: goldenrod;
    border: none;
    border-radius: 3px;
}

.button:active {
    transform: scale(.98);
}

.button:focus {
    outline: none;
}